@import 'theme';

body,
html,
.panels,
.panel {
    height: 100%;
}

.panels {
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
    width: auto;
}

@-webkit-keyframes active-keyframes {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes active-keyframes {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.panel.highlight {
    z-index: 999 !important;
}

.panel {
    box-sizing: border-box;
    display: inline-block;
    position: relative;

    &.highlight {
        -webkit-animation: active-keyframes 0.5s ease-in 1;
                animation: active-keyframes 0.5s ease-in 1;
    }

    &.floating {
        position: absolute;
    }
}
