// 1. COLOR SCHEME
$main-background: #626262;

$panel-background: transparent;
$panel-header-background: #18181C;
$panel-header-border: #000000;
$panel-nav-border: #333333;
$panel-nav-background-hover: #242424;
$panel-nav-link-color: #FFFFFF;
$panel-title-color: #FFFFFF;
$panel-content-background: #FFFDFF;
$panel-content-border: #CCCCCC;

$panel-floating-background: transparent;
$panel-floating-header-background: #18181C;
$panel-floating-header-border: #222222;
$panel-floating-nav-border: #333333;
$panel-floating-nav-background-hover: #242424;
$panel-floating-nav-link-color: #FFFFFF;
$panel-floating-title-color: #FFFFFF;
$panel-floating-content-background: #EEEEEE;
$panel-floating-content-border: #DDDDDD;

// 2. STRUCTURAL VALUES
$panel-default-width: 400px;
$panel-thin-width: 300px;
$panel-medium-width: 600px;
$panel-wide-width: 800px;
$panel-expanded-width: 100%;

$panel-header-height: 45px;
$panel-header-li-fontsize: 15px;
$panel-header-li-width: 50px;
$panel-header-li-wide-width: 65px;
$panel-header-li-icon-fontsize: 30px;
$panel-header-title: 16px;