// Black theme
$main-background: #626262;
$main-header-background: #444444;
$main-header-border: #555555;

$panel-header-background: #18181C;
$panel-header-border: #000000;
$panel-nav-border: #333333;
$panel-nav-background-hover: #242424;
$panel-nav-link-color: #FFFFFF;
$panel-title-color: #FFFFFF;
$panel-content-background: #FFFDFF;
$panel-content-color: #CCCCCC;


// Gray theme
$main-background: #CCCCCC;
$main-header-background: #666666;
$main-header-border: #555555;

$panel-header-background: #383838;
$panel-header-border: rgb(40, 40, 40);
$panel-nav-border: #484848;
$panel-nav-background-hover: #303030;
$panel-nav-link-color: #FFFFFF;
$panel-title-color: #FFFFFF;
$panel-content-background: #FAFAFA;
$panel-content-color: #CDCDCD;