// 1. COLOR SCHEME
$main-background: transparent;

$panel-background: #FFFFFF;
$panel-header-background: rgb(236, 236, 236);
$panel-header-border: #DFDFDF;
$panel-nav-border: #EEEEEE;
$panel-nav-background-hover: #F7F7F7;
$panel-nav-link-color: #999999;
$panel-title-color: #000000;
$panel-content-background: transparent;
$panel-content-border: #DFDFDF;

$panel-floating-background: #FFFFFF;
$panel-floating-header-background: #3A3A3A;
$panel-floating-header-border: #DFDFDF;
$panel-floating-nav-border: #4F4F4F;
$panel-floating-nav-background-hover: #222222; // #D83939
$panel-floating-nav-link-color: #FFFFFF;
$panel-floating-title-color: #FFFFFF;
$panel-floating-content-background: transparent;
$panel-floating-content-border: #DFDFDF;

// 2. STRUCTURAL VALUES
$panel-default-width: 400px;
$panel-thin-width: 350px;
$panel-medium-width: 500px;
$panel-wide-width: 700px;
$panel-expanded-width: calc(100% - );

$panel-header-height: 32px;
$panel-header-li-fontsize: 15px;
$panel-header-li-width: 40px;
$panel-header-li-wide-width: 50px;
$panel-header-li-icon-fontsize: 25px;
$panel-header-title: 13px;
